h1 {
    color: #fff;
    font-size: 40px;
    margin: 0px;
    font: sans-serif;
}

h2 {
    color: #fff;
    font-size: 24px;
    font: sans-serif;
    margin-top: 15px;
}

p {
    color: #fff;
    background-color: #6B6A6A;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;  
    font-size: 16px;
    font: sans-serif;
}

.home-cover-image {
    background-image: url("C:\\Users\\Sophi\\Desktop\\Projects\\fullstack-fae\\fullstack-fae\\src\\assets\\images\\FS-cover-image.webp");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}